In [2]:
#Display float number with 2 decimal places using print()
f1=float(input("Enter the float number "))
fs="{:.2f}".format(f1)
print(fs)

Enter the float number 3.414
3.41

In [3]:
#Takes two integer numbers and  return their product.
f1=int(input("Enter the first number "))
f2=int(input("Enter the second number "))
print("The product =",f1*f2)

Enter the first number 5
Enter the second number 12
The product = 60

In [5]:
#Write a Python program to get the volume of a sphere with radius 10.
pi=3.1415926535897931
r=10
print("Volume of sphere ",((4/3)*pi*r*r*r))

"""r=float(input("Enter the radius of sphere "))
pi=3.1415926535897931
vol=(4.0/3.0)*pi*r*r*r
print("Volume =",vol)"""

Volume of sphere : 4188.790204786391

In [7]:
#Accept two numbers from the user and multiply them together.
f1=int(input("Enter the first number "))
f2=int(input("Enter the second number "))
f3=f1*f2
print("The product =",f3)

Enter the first number 10
Enter the second number 5
The product = 50

In [11]:
#Write a Python program that accepts an integer (a) and computes the value of a+aa+aaa.
f1=int(input("Enter the number "))
f2=input("Enter the digit ")
sum=0
for i in range(1,f1+1):
  sum=sum+int(str(f2*i))
print(sum)

Enter the number 6
Enter the digit 3
370368

In [12]:
#Write a Python program to calculate the length of a string
f1=input("Enter String ")
len=0
for i in f1:
      len=len+1
print("Length of the string is =",len)

Enter String kunal akhote
Length of the string is = 12

In [14]:
#Write a Python program to parse a string to Float & Integer
f1="913.457"
print(int(float(f1)))
print(float(f1))

913
913.457

In [18]:
#Given two integer numbers return their sum. If the sum is greater than 100, then return their product.
f1=int(input("Enter the first number "))
f2=int(input("Enter the second number "))
f3=f1+f2
if f3>100:
  print("Product :",f1*f2)
else:
  print("Sum :",f3)

Enter the first number 123
Enter the second number 12
Product : 1476

In [21]:
#Write a Python program to calculate the sum of three given numbers, if the values are not - equal then return four times of their sum
f1=int(input("Enter the first number "))
f2=int(input("Enter the second number "))
f3=int(input("Enter the third number "))
sum=f1+f2+f3
if f1==f2==f3:
      sum=sum *3
print(sum)

Enter the first number 4
Enter the second number 4
Enter the third number 4
36

In [24]:
#A shop will give discount of 50% if the cost of purchased quantity is more than 10000. 
#Ask user for quantity suppose, one unit will cost 100. Judge and print total cost for user.
quan=int(input("Enter the quantity "))
tcost=quan*100
if tcost>10000:
  tcost=tcost-(0.5*tcost)
print(tcost)

Enter the quantity 620
31000.0