In [ ]:
'''A student will not be allowed to sit in exam if his/her attendence is less than 80%.
Take following input from user
Total Number of classes held
Total Number of classes attended. And print percentage of class attended. Is student is allowed to sit in exam or not.'''
tclass=float(input("Enter the total number of classes held "))
aclass=float(input("Enter the total number of classes attended "))
per=(aclass/tclass)*100
if per < 80.0:
  print("Attendance Per : %.2f and the person is not allowed to sit in exams" % per)
else:
  print("Attendance Per : %.2f and the person is allowed to sit in exams" % per)

Enter the total number of classes held 55
Enter the total number of classes attended 48
Attendance Per : 87.27 and the person is allowed to sit in exams

In [18]:
'''Calculate income tax for the given income by adhering to the below rules
Taxable Income        Rate (in %)
First Rs.10,0000         0
Next Rs. 10,0000       10
The remaining           20'''
inc=int(input("Enter your income "))
if inc<100000:
  print("Income Tax : 0")
elif inc>100000 and inc<200000:
  print("Income Tax :",inc*(0.1))
else:
  print("Income Tax :",inc*(0.2))

Enter your income 553210
Income Tax : 110642.0

In [20]:
'''Program to find digital sum of a given Number
   ex: n=123  Digital sum----->1+2+3=6'''
st=input("Enter the number ")
sum=0
for s in st:
  sum=int(s)+sum
print(sum)

Enter the number 5487
24

In [24]:
'''Program to find the digital product of a given number
   ex: n=43   Digital product ----->4*3=12'''
st=input("Enter the number ")
sum=1
for s in st:
  sum=int(s)*sum
print(sum)

Enter the number 1234
24

In [26]:
#Find the sum of the series 3 +33 + 333 + 3333 + .. n terms
n=int(input("Enter the value of n "))
p=3
sum=0
for i in range(n):
  sum=p+sum
  p=(p*10)+3
print(sum)

Enter the value of n 4
3702

In [30]:
'''Print the following pattern
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*'''
n=int(input("Enter the numbers of rows "))
for i in range(1,(n*2)):
  if i<=(n):
    print("* "*i)
  else:
    print("* "*((n*2)-i))

Enter the numbers of rows 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*